// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-woodsmoke: #0a0b0b;
$color-mine-shaft: #3c3c3c;
$color-cape-cod: #393b3c;
$color-fiord: #45526e;
$color-boulder: #747474;
$color-melrose: #b4a9ff;
$color-bittersweete: #ff7575;
$color-heliotrope: #dc5dfc;
$color-blue-marguerite: #6a5dc2;
$color-melrose: #b4a9ff;
$color-cornflower-blue: #67a5eb;

$color-white-25: rgba($color-white, 0.25);
$color-white-33: rgba($color-white, 0.33);
$color-white-50: rgba($color-white, 0.5);
$color-white-70: rgba($color-white, 0.7);
$color-white-80: rgba($color-white, 0.8);

$color-black-40: rgba($color-black, 0.4);
$color-woodsmoke-50: rgba($color-woodsmoke, 0.5);

// Typography
$ff-main: 'Play', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
