@use '../global/_variables' as *;
@use '../global/_mixins' as *;

.movie-intro {
  padding: 32px 0 0 0;

  @include vp-1023 {
    padding: 16px 0 0 0;
  }

  @include vp-767 {
    padding: 0 0 24px 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 1199px) {
      gap: 20px;
    }

    @include vp-767 {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 580px;

    @media (max-width: 1199px) {
      gap: 40px;
      max-width: 538px;
    }

    @include vp-1023 {
      max-width: 500px;
    }

    @media (max-width: 900px) {
      max-width: 400px;
    }

    @include vp-767 {
      max-width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: $color-white;

    @media (max-width: 1199px) {
      font-size: 36px;
      line-height: 40px;
    }

    @include vp-1023 {
      font-size: 32px;
      line-height: 38px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__descr {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    color: $color-white-70;

    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 24px;
    }

    @include vp-1023 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 479px) {
      flex-wrap: wrap;
    }
  }

  &__btns--movie-page {
    @media (max-width: 479px) {
      flex-wrap: nowrap;
    }
  }

  &__poster {
    max-width: 680px;

    @include vp-767 {
      max-width: 80%;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
    }

    @media (max-width: 479px) {
      max-width: 100%;
    }
  }
}
