@use '../global/_variables' as *;

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 4px 12px;
  border-radius: 16px;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: $color-white;
  }

  &--small {
    gap: 4px;
    padding: 2px 8px;

    .rating__icon {
      width: 10px;
      height: 10px;
    }

    .rating__text {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
